@charset "UTF-8";

/*
#1B264F
#1E2E60
#213670
#274690
#576CA8
#302B27

*/
:root{
    --cor0: #CCDAD1 ;
    --cor1: #9CAEA9;
    --cor2: #788585;
    --cor3: #6F6866;
    --cor4: #38302E;

}


*{
    margin: 0px;
    padding: 0px;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(100deg, #38302E, #6F6866);
}


header{
    background-image: linear-gradient(to border-bottom-left-radius, #6F6866, #38302E);
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1{
    color: var(--cor1);
    font-size: 3em;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.761);
}

header > p{
    color: var(--cor1);
    font-size: 1.2em;
    max-width: 600px;
    margin: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.761);
}


img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    background-color: var(--cor3);
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.418);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1{
    color: var(--cor4);
}

main h2{
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor2), transparent);
}

main p{
     margin: 15px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 2em;
    font-size: 1em;
}

main img{
    max-width: 800px;
    display: block;
    margin: auto;
}

main a{
    text-decoration: none;
    font-weight: bold;
    color: var(--cor0);
    background-color: var(--cor4);
    padding: 2px 6px;
}

main a:hover{
    text-decoration: underline;
    color: var(--cor1);
}
nav{
    padding: 10px;
    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.363);

}
nav a{
    color: white;
    padding: 10px;
    text-decoration: none;
    transition-duration: .5s;
}
nav > a:hover{
    background-color: var(--cor3);

}

div.video{
    background-color: var(--cor2);
    margin-bottom: 30px;
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 57%;
    position: relative;

}

div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;


}

aside{
    background: linear-gradient(100deg, #38302ead, #6f686694);
    padding: 10px;
    border-radius: 10px;
}

aside > h3{
    background-image: linear-gradient(to right, var(--cor2), transparent);
    padding: 5px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.692);
}

aside > ul{
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 3;

}

 

footer{
    background-color: var(--cor4);
    color: var(--cor0);
    text-align: center;
    font-size: 0.8em;
    padding: 3px;
}